In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("gentrification.csv", index_col=0)

In [3]:
df.head()

   zipcode  gentrification
0       83               2
1     7020               2
2     7030               2
3     7114               2
4    10000               2

In [4]:
Non_Gentrifying = df['zipcode'][df['gentrification']==0].tolist()
Non_Gentrifying

[10451,
 10452,
 10453,
 10463,
 10468,
 10472,
 10473,
 11204,
 11208,
 11214,
 11223,
 11224,
 11239]

In [5]:
len(Non_Gentrifying)

13

In [6]:
Gentrifying = df['zipcode'][df['gentrification']==1].tolist()
Gentrifying

[10002,
 10003,
 10009,
 10026,
 10027,
 10029,
 10030,
 10031,
 10032,
 10033,
 10034,
 10035,
 10037,
 10039,
 10040,
 10454,
 10455,
 10456,
 10457,
 10458,
 10459,
 10460,
 10474,
 11102,
 11103,
 11105,
 11106,
 11206,
 11211,
 11212,
 11213,
 11216,
 11220,
 11221,
 11222,
 11225,
 11232,
 11233,
 11237,
 11249,
 11370]

In [7]:
len(Gentrifying)

41

In [8]:
Higher_income = df['zipcode'][df['gentrification']==2].tolist()
Higher_income

[83,
 7020,
 7030,
 7114,
 10000,
 10001,
 10004,
 10005,
 10006,
 10007,
 10010,
 10011,
 10012,
 10013,
 10014,
 10016,
 10017,
 10018,
 10019,
 10020,
 10021,
 10022,
 10023,
 10024,
 10025,
 10028,
 10036,
 10038,
 10041,
 10044,
 10045,
 10048,
 10055,
 10065,
 10069,
 10075,
 10103,
 10104,
 10105,
 10107,
 10111,
 10112,
 10118,
 10119,
 10120,
 10121,
 10122,
 10123,
 10128,
 10129,
 10153,
 10154,
 10155,
 10158,
 10162,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10177,
 10178,
 10179,
 10270,
 10271,
 10278,
 10279,
 10280,
 10281,
 10282,
 10301,
 10302,
 10303,
 10304,
 10305,
 10306,
 10307,
 10308,
 10309,
 10310,
 10312,
 10314,
 10461,
 10462,
 10464,
 10465,
 10466,
 10467,
 10469,
 10470,
 10471,
 10475,
 10507,
 10704,
 10803,
 11001,
 11004,
 11005,
 11040,
 11101,
 11104,
 11109,
 11201,
 11203,
 11205,
 11207,
 11209,
 11210,
 11215,
 11217,
 11218,
 11219,
 11226,
 11228,
 11229,
 11230,
 11231,
 11234,
 11235,
 11236,
 11238,
 11241,
 11242,
 11251,
 11354,
 11355,
 11356,
 11357,
 11358,
 11359,
 11360,
 11361,
 11362,
 11363,
 11364,
 11365,
 11366,
 11367,
 11368,
 11369,
 11371,
 11372,
 11373,
 11374,
 11375,
 11377,
 11378,
 11379,
 11385,
 11411,
 11412,
 11413,
 11414,
 11415,
 11416,
 11417,
 11418,
 11419,
 11420,
 11421,
 11422,
 11423,
 11426,
 11427,
 11428,
 11429,
 11430,
 11432,
 11433,
 11434,
 11435,
 11436,
 11530,
 11691,
 11692,
 11693,
 11694,
 11695,
 11697]

In [9]:
len(Higher_income)

183