In [2]:
#import altair as alt
import pandas as pd
import json
import psycopg2

/anaconda3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
host = "datavis.cauuh8vzeelb.us-east-1.rds.amazonaws.com"
database = "top5"
user = "teamwonder"
password = ask me

In [4]:
querytext = ("SELECT * FROM tabletop5 " +
             "WHERE complaint_='Air Quality';")

In [5]:
con = psycopg2.connect(host=host, database=database, user=user, password=password)
cur = con.cursor()
cur.execute(querytext)
rows = cur.fetchall()
rows[0]

(2,
 1,
 'Air Quality',
 '10023',
 Decimal('40.776106560588481'),
 Decimal('-73.979744680840554'),
 '2016-03-05',
 '0101000020E6100000F8A80823B47E52C023F8B37557634440')

In [6]:
con.close()

In [7]:
columnname = ['id1','id','type','zipcode','lat','lng','date','geometry']
df = pd.DataFrame(rows, columns=columnname)

In [8]:
df_m = df[['zipcode', 'date']]
df_m.head()

  zipcode        date
0   10023  2016-03-05
1   11102  2016-03-05
2   11420  2016-03-05
3   10025  2016-03-05
4   10013  2016-03-05

In [9]:
df_m.shape

(40896, 2)

In [10]:
casebyzip = df_m.groupby(by='zipcode', as_index=False).count()
casebyzip.columns = ['zipcode','count']
casebyzip.head()

  zipcode  count
0   10000      1
1   10001    508
2   10002    570
3   10003   1100
4   10004    140

In [12]:
casebydate = df_m.groupby(by='date', as_index=False).count()
casebydate.columns = ['date','count']
casebydate.head()

         date  count
0  2013-01-01      2
1  2013-01-02      8
2  2013-01-03     20
3  2013-01-04     18
4  2013-01-05      5